# App's running environment
NODE_ENV=

# App's running port
PORT=

# Cors origin url
CORS_ORIGIN=

# Run node -e "console.log(require('crypto').randomBytes(256).toString('base64'));" in your console to generate a secret
JWT_SECRET=

JWT_EXPIRE=

MYSQL_DATABASE=

MYSQL_ROOT_PASSWORD=

# Example: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=